body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #2f3536;
  * {
    box-sizing: border-box;
  }
}

.hide {
  display: none;
}

@keyframes ripple {
  0% {
    transform: scale(0, 0);
    opacity: 1;
  }
  20% {
    transform: scale(25, 25);
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: scale(40, 40);
  }
}

.ripple {
  &::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 5px;
    height: 5px;
    background: rgba(255, 255, 255, .5);
    opacity: 0;
    border-radius: 50%;
    transform: scale(1, 1) translate(-50%);
    transform-origin: 50% 50%;
  }
  &:focus:not(:active)::after {
    animation: ripple 1s ease-out;
  }
}

.app-header {
  height: 4vh;
  padding: 30px;
  color: #ffcc54;
  text-align: center;
  .app-title {
    font-size: 1.5em;
  }
}

.contact {
  display: block;
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  margin: 5px 0;
  a {
    margin: 5px 10px;
    font-size: 1.5em;
    color: #ffcc54;
    text-decoration: none;
    &:hover {
      color: #c89b20;
    }
  }
}

.error {
  text-align: center;
  margin: 40px 0;
  font-size: 1.5em;
  color: #ffcc54;
}

.accordion-cards {
  max-height: 80vh;
  overflow: scroll;
  background: #eee;
  padding: 10px;
  margin: 0 auto;
  border-radius: 10px;
  border: 1px solid #060f10;
  position: relative;
  width: 85vw;
  top: 20px;
}

.add-recipe {
  position: fixed;
  bottom: 10%;
  right: 2%;
  z-index: 2;
  button {
    border: none;
    cursor: pointer;
    color: #000;
    width: 40px;
    height: 40px;
    font-size: 22px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, .4);
    background: #ffcc54;
    position: relative;
    overflow: hidden;
    outline: none;
    border-radius: 50%;
  }
}

.footer-btns {
  float: right;
  padding: 10px;
}

.btn {
  margin-right: 10px;
  outline: none;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  &.btn-link {
    background: transparent;
    border: 0;
    color: black;
    opacity: 0.8;
    font-size: 1em;
  }
  &.btn-primary {
    background: #ffcc54;
    border: 0;
    color: black;
    font-size: 1em;
    border-radius: 2px;
    padding: 5px 10px;
  }
  &.btn-delete {
    margin: 20px 0px;
    border: 0;
    background: #d9534f;
    padding: 5px;
    font-size: 1em;
    border-radius: 2px;
    color: white;
  }

  &.btn-primary,
  &.btn-delete {
    &.ripple {
      &::after {
        border-radius: 2px;
        width: 2px;
        height: 2px;
      }
    }
  }
}

.side-heading {
  font-size: 1.2em;
  font-weight: bold;
}
