body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #2f3536; }
  body * {
    box-sizing: border-box; }

.hide {
  display: none; }

.app-header {
  height: 4vh;
  padding: 30px;
  color: #ffcc54;
  text-align: center; }
  .app-header .app-title {
    font-size: 1.5em; }

.contact {
  display: block;
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  margin: 5px 0; }
  .contact a {
    margin: 5px 10px;
    font-size: 1.5em;
    color: #ffcc54;
    text-decoration: none; }
    .contact a:hover {
      color: #c89b20; }

.error {
  text-align: center;
  margin: 40px 0;
  font-size: 1.5em;
  color: #ffcc54; }

.accordion-cards {
  max-height: 80vh;
  overflow: scroll;
  background: #eee;
  padding: 10px;
  margin: 0 auto;
  border-radius: 10px;
  border: 1px solid #060f10;
  position: relative;
  width: 85vw;
  top: 20px; }

.add-recipe {
  position: fixed;
  bottom: 10%;
  right: 2%;
  z-index: 2; }
  .add-recipe button {
    border: none;
    cursor: pointer;
    color: #000;
    width: 40px;
    height: 40px;
    font-size: 22px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
    background: #ffcc54;
    position: relative;
    overflow: hidden;
    outline: none;
    border-radius: 50%; }
  .add-recipe button:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 5px;
    height: 5px;
    background: rgba(255, 255, 255, 0.5);
    opacity: 0;
    border-radius: 50%;
    transform: scale(1, 1) translate(-50%);
    transform-origin: 50% 50%; }

@keyframes ripple {
  0% {
    transform: scale(0, 0);
    opacity: 1; }
  20% {
    transform: scale(25, 25);
    opacity: 1; }
  100% {
    opacity: 0;
    transform: scale(40, 40); } }
  .add-recipe button:focus:not(:active)::after {
    animation: ripple 2s ease-out; }

.accordion-card {
  margin: 20px 15px;
  border: 1px solid #585f60;
  border-radius: 10px; }
  .accordion-card .accordion-header {
    background: none;
    border: 0;
    color: #000;
    width: 100%;
    margin: 10px 10px;
    text-align: left;
    position: relative;
    padding: 5px 5px;
    font-size: 1.2em;
    text-decoration: underline;
    cursor: pointer;
    outline: none; }
  .accordion-card .accordion-body {
    color: #000;
    width: 100%;
    margin: 10px 10px;
    text-align: justify;
    position: relative;
    padding: 5px 5px;
    font-size: 1em; }

.modal {
  position: fixed;
  z-index: 3; }
  .modal .modal-overlay {
    position: relative;
    background: rgba(0, 0, 0, 0.5);
    height: 100vh;
    width: 100vw; }
  .modal .modal-container {
    width: 50%;
    height: 50%;
    overflow: auto;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #eee;
    border-radius: 5px; }
  .modal .modal-content {
    margin: 10px;
    padding: 10px; }
  .modal .modal-header {
    position: relative;
    right: 10px;
    top: 5px; }
    .modal .modal-header .modal-close-button {
      position: absolute;
      right: -10px;
      top: -10px;
      cursor: pointer;
      font-size: 1.5em;
      outline: none; }

/*# sourceMappingURL=data:application/json;charset=utf-8;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbXSwibmFtZXMiOltdLCJtYXBwaW5ncyI6IiIsImZpbGUiOiJzdHlsZXMuY3NzIiwic291cmNlUm9vdCI6IiJ9*/